/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -----------------------------------------------------*/

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    /*background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 68%, rgba(72,231,143,0.8130602582830007) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 68%, rgba(72,231,143,0.8130602582830007) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 68%, rgba(72,231,143,0.8130602582830007) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#48e78f",GradientType=1);
    background-repeat: no-repeat; */
}

#container_header_gradient {
    width: 100vw;
    height: 26vh;
/*
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 16%, rgba(181,179,179,1) 61%, rgba(87,83,83,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 16%, rgba(181,179,179,1) 61%, rgba(87,83,83,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(181,179,179,1) 80%, rgba(87,83,83,1) 140%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#575353",GradientType=1);
    
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 150%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
    */
}

#container_footer_gradient {
    width: 100vw;
    height: 50.5vh;
    background-color:black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
/*
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(156,234,178,0.9671218829328606) 62%, rgba(9,203,64,0.8970938717283788) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(156,234,178,0.9671218829328606) 62%, rgba(9,203,64,0.8970938717283788) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(156,234,178,0.9671218829328606) 62%, rgba(9,203,64,0.8970938717283788) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#09cb40",GradientType=1);
*/
}
#container_ship {
    
    background-image: url(Viridilogistics_Ship.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70vw;
    height: 18vh;
    margin-top: 0vh;
}

header {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

h1 {
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2{
    padding: 0;
    margin: 0;
    line-height: 0.9;
    font-size: 65px;
}

h3 {
    line-height: 1.8;
    font-size: 16px;
}

h4 {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin-bottom: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
