/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -----------------------------------------------------*/



body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #caffbf;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


#containerHeader {
    position:relative;
    display:flex;
    flex-direction: column-reverse;
    background-color: #fffffc;
    height: 65vh;
    width: 125vw;
    transform: rotate(-6deg);
    margin-top: -14vh;
    margin-left: -10vw;
    z-index: 1;
}

@keyframes ship {
    0% { margin-left: -154vw}
    100%{ margin-left: 2vw;}
    
}



#containerBlueprint{
    position:absolute;
    height: 150vh;
    width: 150vw;
    transform: rotate(0deg);
    margin-left: 1vw;
    margin-bottom: -50vh;
    background-image: url(Viridilogistics_Ship.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    animation:ease-in-out forwards;
    animation-name: ship;
    animation-duration: 15s;
}

#containerLogo {
    position: relative;
    z-index: 3;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: auto;
    width: 125vw;
    height: 4vh;
    margin-left: -29.9vw;
}

#containerLogo h4 {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

#containerMain {
    position:relative;
    z-index: 3;
}

#containerBorderOne {
    position: relative;
    background-color: #ced4da;
    height: 1vh;
    width: 125vw;
    transform: rotate(-6deg);
    margin-left: -10vw;
    margin-top: 0vh;
    z-index: 2;

}
#containerBorderTwo {
    position: relative;
    background-color: #495057;
    height: 1vh;
    width: 125vw;
    transform: rotate(-6deg);
    margin-left: -10vw;
    margin-top: -0.4vh;
    z-index: 2;
}

#containerBorderThree {
    position: relative;
    background-color:#212529;
    height: 1vh;
    width: 125vw;
    transform: rotate(-6deg);
    margin-left: -10vw;
    margin-top: -0.3vh;
    z-index: 2;
}

#containerContent {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: center;
    background-image: linear-gradient(10deg, #cbf3f0, #2ec4b6);
    margin-top: -1vh;
    margin-left: -5vw;
    z-index: 3;
    width: 125vw;
    height: 60vh;
    transform: rotate(-6deg);
}

#containerTitle {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -24vw;
    width: 42vw;
    height: 30vh;
}

#containerTitle h4 {
    position: relative;
    margin: 0;
    transform: rotate(2deg);

}

#containerTitle h1 {
    position: relative;
    margin:0;
    padding: 0;
    transform: rotate(0deg);
    font-size: 4em;
    margin-left: 2vw;   
    margin-top: -23vh;
}
